db-uri = "postgres://xkpmk_conn_user:xkpmk_conn_password@pgm-rj9z1j6g3j2k070t.pg.rds.aliyuncs.com/xkpmk"
db-schemas = "app20250905024110cvidyeburp_v1,public"
db-anon-role = "app20250905024110cvidyeburp_v1_user"
server-port = 39013
jwt-secret = "sk_e7b4f93f3a4949aaae451478cd14e208"
server-host = "127.0.0.1"
